html {
    box-sizing: border-box;
}

*, *:hover{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.main-body{
    background-color: #a3a3a3;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-header{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #cbcbcb;
}

.title-main-page{
    font-size: 48px;
    margin: 20px;
}

.list-recipes{
    list-style: none;
    margin-top: 40px;
    padding-left: 40px;
    max-width: 380px;
}

.list-link{
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 8px;
    padding: 4px 15px;
}

.list-link:hover{
    background-color: #878282;
    border-color: #21555b;
}

.link-recipe{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 2px 1px 3px #000;
}

.link-recipe:hover{
    color: #a9ebff;
}

/* second page recipes */

.recipes-body{
    background-color: #a3a3a3;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.recipes-body:last-child .last{
    border: none;
}

.link-home{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link-home:hover{
    color: #3b8297;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px solid;
}

.container-title-img{
  margin-left: 120px;
}

.title-recipe{
    font-size: 38px;
    margin-bottom: 50px;
    text-wrap: wrap;
}

.container-title-img > img{
    width: 500px;
    height: 400px;
}

.container-info{
    margin: 0 150px;
    width: 500px;
}

.container-info, .second-title, .recipe-description, .title-ingredients, .list-ingredients, .title-steps, .list-steps {
    width: inherit;
    display: flex;
    flex-direction: column;
    
}

.second-title {
    padding-top: 5px;
}

.second-title, .recipe-description, .title-ingredients, .list-ingredients, .title-steps{
    margin-bottom: 20px;
}

.title-ingredients{
    text-align: center;
}

.list-ingredients {
    list-style: hangul;
    flex-wrap: wrap;
    align-content: center;
}